*.pyc
*.pyo
*.db
*.pot
*.swp
*.swo
*.doctree
.doctrees
.DS_Store
.coverage
.idea/
build/
docs/build/
dist/
webpack_bundles/
node_modules/
db.*
node_modules
local.py
.eslintcache
*.log
/coverage
**/package-lock.json
coverage.xml
